<app-base>
  <section *ngIf="featureTask">
    <div class="side-1">
      <div style="display: flex; justify-content: space-between;">
        <h1>
          <ion-icon class="icon" aria-hidden="true" slot="start" ios="trending-up-outline"
            md="trending-up-outline"></ion-icon>
          &nbsp; {{featureTask.name}}
        </h1>
  
        <div>
          <ion-button color="primary" fill="clear" (click)="openFeatureTaskModal()">
              <ion-icon name="create-outline"></ion-icon>
          </ion-button>
          <ion-button color="primary" fill="clear" (click)="presentPopover($event)">
            <ion-icon name="ellipsis-vertical-outline"></ion-icon>
          </ion-button>
        </div>
        
      </div>
      

      <br />
      <ion-chip>{{featureTask?.project?.name}}</ion-chip>
      &nbsp; <ion-chip [ngStyle]="{'--background': featureTask?.status?.color}">{{featureTask?.status?.name}}</ion-chip>
      &nbsp; <ion-chip [ngStyle]="{'--background': featureTask?.priority?.color}">{{featureTask?.priority?.name}}</ion-chip>

      <br />
      <h4><strong>{{'description'| translate}}</strong></h4>
      <p>{{featureTask.description}}</p>

      <h4><strong>{{'comments'| translate}}</strong></h4>
      <div style="padding: 5px">
        <ion-textarea rows="2" [(ngModel)]="comment" label="{{ 'comment' | translate}}" labelPlacement="floating"
          fill="outline" placeholder="{{ 'enterComment' | translate}}"></ion-textarea>
          <br />

        <div style="display: flex; justify-content: flex-end; padding: 5px 0;">
          <ion-button type="submit" fill="clear" (click)="addComment()">
            <ion-icon name="send-outline" slot="end"></ion-icon>
            {{ 'saveButtonLabel' | translate }} &nbsp;
          </ion-button>
        </div>
      </div>

      <div class="comment" *ngFor="let comment of comments">
        <div>
          <div class="user-avatar" *ngIf="!comment?.author?.thumbnail">
            <ion-icon name="person-outline"></ion-icon>
          </div>
          <img *ngIf="comment?.author?.thumbnail" [alt]="comment?.author?.username" [src]="comment?.author?.thumbnail" />
        </div>
        <div style="width: 100%; gap: 5px;">
          <h5><strong> {{ comment?.author?.firstName }} {{ comment?.author?.lastName }} </strong> &nbsp;&nbsp; {{ formatDate(comment.createdAt) }} </h5>
          <div *ngIf="!comment.isEditing">
            <p>{{ comment.content }}</p>
          </div>
          <div *ngIf="comment.isEditing">
            <ion-textarea rows="2" [(ngModel)]="comment.editedContent" fill="outline"></ion-textarea>
            <ion-button (click)="saveEdit(comment)" fill="clear">{{ 'save' | translate }}</ion-button>
            <ion-button (click)="cancelEdit(comment)" fill="clear" color="danger">{{ 'cancel' | translate }}</ion-button>
          </div>
          <div *ngIf="user.id === comment?.author?.id" style="display: flex; justify-content: flex-end; width: 100% !important; gap: 5px;">
            <ion-button *ngIf="!comment.isEditing" (click)="enableEdit(comment)" type="submit" fill="clear">{{ 'edit' | translate }}</ion-button>
            <ion-button type="submit" fill="clear" color="danger" (click)="delete(comment)">{{ 'delete' | translate }}</ion-button>
          </div>
          <div *ngIf="! (user.id === comment?.author?.id)" style="display: flex; justify-content: flex-end; width: 100% !important; gap: 5px;">
            <br />
          </div>
        </div>
      </div>

    </div>
    <div class="side-2">
      <h1>{{'details'| translate}}</h1>
      <br />
      <ion-item color="white">
        <ion-label>
          <h4>{{'assignedTo'| translate}}</h4>
          <h5 (click)="openPersonPage(featureTask?.assignedTo?.username)">&nbsp;
            <div style="display: flex; align-items: center; margin: 3px 0;">
              <img *ngIf="featureTask" class="user-avatar-2" [src]="featureTask?.assignedTo?.thumbnail" alt="">
              <div *ngIf="!featureTask" class="user-avatar-2">
                <ion-icon name="person-outline"></ion-icon>
              </div>
              <ng-container *ngIf="featureTask">
                {{featureTask?.assignedTo?.firstName}}
                {{featureTask?.assignedTo?.lastName}}
              </ng-container>
            </div>
          </h5>
        </ion-label>
      </ion-item>
      <ion-item color="white">
        <ion-label>
          <h4>{{'status'| translate}}</h4>
          <h5>&nbsp; {{ featureTask?.status?.name.toUpperCase() |
            translate }}</h5>
        </ion-label>
      </ion-item>
      <ion-item color="white">
        <ion-label>
          <h4>{{'estimatedTime'| translate}}</h4>
          <h5>&nbsp; {{featureTask?.estimatedTime}}</h5>
        </ion-label>
      </ion-item>
      <ion-item color="white">
        <ion-label>
          <h4>{{'project'| translate}}</h4>
          <h5>&nbsp; {{featureTask?.project?.name}}</h5>
        </ion-label>
      </ion-item>
      <ion-item color="white">
        <ion-label>
          <h4>{{'priority'| translate}}</h4>
          <h5>&nbsp; {{ featureTask?.priority?.name.toUpperCase()
            |
            translate }}</h5>
        </ion-label>
      </ion-item>
      <ion-item color="white">
        <ion-label>
          <h4>{{'createdBy'| translate}}</h4>
          <h5 (click)="openPersonPage(featureTask?.createdBy?.username)">&nbsp; {{featureTask?.createdBy?.firstName}}
            {{featureTask?.createdBy?.lastName}}</h5>
        </ion-label>
      </ion-item>
      <ion-item color="white">
        <ion-label>
          <h4>{{'createdAt'| translate}}</h4>
          <h5>&nbsp;  {{ formatDate(featureTask?.createdAt) }}</h5>
        </ion-label>
      </ion-item>
    </div>
  </section>
  <section *ngIf="bugTask">
    <div class="side-1">
      <div style="display: flex; justify-content: space-between;">
      <h1>
        <ion-icon class="icon" aria-hidden="true" slot="start" ios="trending-up-outline"
          md="trending-up-outline"></ion-icon>
        &nbsp; {{bugTask.name}}
      </h1>

      <div>
        <ion-button color="primary" fill="clear" (click)="openBugTaskModal()">
            <ion-icon name="create-outline"></ion-icon>
        </ion-button>
        <ion-button color="primary" fill="clear" (click)="presentPopover($event)">
          <ion-icon name="ellipsis-vertical-outline"></ion-icon>
        </ion-button>
      </div>

      </div>

      <br />
      <ion-chip>{{bugTask?.project?.name}}</ion-chip>
      &nbsp; <ion-chip [ngStyle]="{'--background': bugTask?.status?.color}">{{bugTask?.status?.name}}</ion-chip>
      &nbsp; <ion-chip [ngStyle]="{'--background': bugTask?.priority?.color}">{{bugTask?.priority?.name}}</ion-chip>

      <br />
      <h4><strong>{{'description'| translate}}</strong></h4>
      <p>{{bugTask.description}}</p>

      <br />
      <h4><strong>{{'stepsToReproduce'| translate}}</strong></h4>
      <p>{{bugTask.stepsToReproduce}}</p>

      <br />
      <h4><strong>{{'comments'| translate}}</strong></h4>
      <div style="padding: 5px">
        <ion-textarea rows="2" [(ngModel)]="comment" label="{{ 'comment' | translate}}" labelPlacement="floating"
          fill="outline" placeholder="{{ 'enterComment' | translate}}"></ion-textarea>

        <div style="display: flex; justify-content: flex-end; padding: 5px 0;">
          <ion-button type="submit" fill="clear" (click)="addComment()">
            <ion-icon name="send-outline" slot="end"></ion-icon>
            {{ 'saveButtonLabel' | translate }} &nbsp;
          </ion-button>
        </div>
      </div>

      <div class="comment" *ngFor="let comment of comments">
        <div>
          <div class="user-avatar" *ngIf="!comment?.author?.thumbnail">
            <ion-icon name="person-outline"></ion-icon>
          </div>
          <img *ngIf="comment?.author?.thumbnail" [alt]="comment?.author?.username" [src]="comment?.author?.thumbnail" />
        </div>
        <div style="width: 100%; gap: 5px;">
          <h5><strong> {{ comment?.author?.firstName }} {{ comment?.author?.lastName }} </strong> &nbsp;&nbsp; {{ formatDate(comment.createdAt) }} </h5>
          <div *ngIf="!comment.isEditing">
            <p>{{ comment.content }}</p>
          </div>
          <div *ngIf="comment.isEditing">
            <ion-textarea rows="2" [(ngModel)]="comment.editedContent" fill="outline"></ion-textarea>
            <ion-button (click)="saveEdit(comment)" fill="clear">{{ 'save' | translate }}</ion-button>
            <ion-button (click)="cancelEdit(comment)" fill="clear" color="danger">{{ 'cancel' | translate }}</ion-button>
          </div>
          <div *ngIf="user.id === comment?.author?.id" style="display: flex; justify-content: flex-end; width: 100% !important; gap: 5px;">
            <ion-button *ngIf="!comment.isEditing" (click)="enableEdit(comment)" type="submit" fill="clear">{{ 'edit' | translate }}</ion-button>
            <ion-button type="submit" fill="clear" color="danger" (click)="delete(comment)">{{ 'delete' | translate }}</ion-button>
          </div>
          <div *ngIf="! (user.id === comment?.author?.id)" style="display: flex; justify-content: flex-end; width: 100% !important; gap: 5px;">
            <br />
          </div>
        </div>
      </div>

    </div>
    <div class="side-2">
      <h1>{{'details'| translate}}</h1>
      <br />
      <ion-item color="white">
        <ion-label>
          <h4>{{'assignedTo'| translate}}</h4>
          <h5 (click)="openPersonPage(bugTask?.assignedTo?.username)">&nbsp;
            <div style="display: flex; align-items: center; margin: 3px 0;">
              <img *ngIf="bugTask" class="user-avatar-2" [src]="bugTask?.assignedTo?.thumbnail" alt="">
              <div *ngIf="!bugTask" class="user-avatar-2">
                <ion-icon name="person-outline"></ion-icon>
              </div>
              <ng-container *ngIf="bugTask">
                {{bugTask?.assignedTo?.firstName}}
                {{bugTask?.assignedTo?.lastName}}
              </ng-container>
            </div>
          </h5>
        </ion-label>
      </ion-item>
      <ion-item color="white">
        <ion-label>
          <h4>{{'status'| translate}}</h4>
          <h5>&nbsp; {{ bugTask?.status?.name.toUpperCase() |
            translate }}</h5>
        </ion-label>
      </ion-item>
      <ion-item color="white">
        <ion-label>
          <h4>{{'estimatedTime'| translate}}</h4>
          <h5>&nbsp; {{bugTask?.estimatedTime}}</h5>
        </ion-label>
      </ion-item>
      <ion-item color="white">
        <ion-label>
          <h4>{{'project'| translate}}</h4>
          <h5>&nbsp; {{bugTask?.project?.name}}</h5>
        </ion-label>
      </ion-item>
      <ion-item color="white">
        <ion-label>
          <h4>{{'priority'| translate}}</h4>
          <h5>&nbsp; {{ bugTask?.priority?.name.toUpperCase()
            |
            translate }}</h5>
        </ion-label>
      </ion-item>
      <ion-item color="white">
        <ion-label>
          <h4>{{'createdBy'| translate}}</h4>
          <h5 (click)="openPersonPage(bugTask?.createdBy?.username)">&nbsp; {{bugTask?.createdBy?.firstName}}
            {{bugTask?.createdBy?.lastName}}</h5>
        </ion-label>
      </ion-item>
      <ion-item color="white">
        <ion-label>
          <h4>{{'createdAt'| translate}}</h4>
          <h5>&nbsp;  {{ formatDate(bugTask?.createdAt) }}</h5>
        </ion-label>
      </ion-item>
    </div>
  </section>
</app-base>