section {
    display: flex;
    gap: 2px;
    min-height: 80vh;

    h1 {
        margin: 0;
    }

    ion-chip {
        padding: 5px 10px ;
    }
    .side-1 {
        width: 70%;
        overflow-y: scroll;
        background-color: var(--white-color);
        padding: 20px;
        border-radius: 5px;
        max-height: 80vh;
    }

    .side-2 {
        width: 30%;
        background-color: var(--white-color);
        padding: 20px;
        border-radius: 5px;
    }

    @media screen and (max-width: 999px) {
        flex-direction: column;
        .side-1 {
            width: 100%;
        }
    
        .side-2 {
            width: 100%;
        }
    }
}

.comment{
    display: flex;
    gap: 8px;
    width: 100%;
    position: relative;

    h1, h2, h5 {
        margin: 0;
    }

    .user-avatar {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: var(--gray-color);
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--white-color);
        font-size: 20px;
        position: relative;
    }

    img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: block;
    }

    ion-button {
        --background: transparent;
        --background-hover: transparent;
        --background-activated: transparent;
        --background-focused: transparent;
        --padding-top: 0;
        --padding-bottom: 0;
        font-size: var(--text-small-font-size);
    }
}

ion-item {
    --inner-padding-end: 0;
    width: 100%;

    ion-input,
    ion-select,
    ion-textarea {
        --padding-start: 0;
        --padding-end: 0;
        --padding-top: 0;
        --padding-bottom: 0;
        --width: 100%;
    }
}


.user-avatar-2 {
    width: 30px;
    height: 30px;
    margin: auto 5px;
    border-radius: 50%;
    background-color: var(--gray-color);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white-color);
    font-size: 30px;
    object-fit: cover;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    
    @media screen and (max-width: 999px) {
        width: 40px;
        height: 40px;
    }
}

ion-chip {
    margin: 2px;
}