.profile {
    width: 100%;
    padding-top: 100px;

    .body-profile {
        position: relative;
        background-color: var(--white-color);
        border-radius: 50px 50px 5px 5px;
        padding: 10px;
        padding-top: 100px;
        
        .titles {
            text-align: center;
        }

        @media screen and (max-width: 999px) {
            padding-top: 50px;
        }
    }

    .profile-picture {
        width: 200px;
        height: 200px;
        object-fit: cover;
        border-radius: 50%;
        position: absolute;
        top: -100px;
        left: 50%;
        transform: translateX(-50%);

        @media screen and (max-width: 999px) {
            width: 100px;
            height: 100px;
            top: -50px;
        }
    }
}

.bloc {
    background-color: var(--white-color);
    padding: 20px;
    border-radius: 15px;
    display: flex;
    gap: 10px;

    img {
        width: 150px;
        height: 150px;
        object-fit: cover;
        border-radius: 5px;
    }

    h2 {
        margin: 0;
        padding: 0;
    }

    div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}