<app-base>

    <ion-header>
        <ion-toolbar>
            <div class="header">
                <div class="title">
                    <span><ion-icon name="briefcase-outline"></ion-icon></span>
                    <h1>{{ 'projects_management' | translate }}</h1>
                </div>
                <ion-buttons slot="end">
                    <ion-button fill="clear" (click)="reload()">
                        <ion-icon name="refresh-outline"></ion-icon> &nbsp; {{ 'reload' | translate }}
                    </ion-button>
    
                    &nbsp;
                    <ion-button fill="clear" (click)="openAddProjectModal()">
                        <ng-container>
                            <ion-icon name="person-add-outline"></ion-icon> &nbsp; {{ 'add_project' | translate }}
                        </ng-container>
                    </ion-button>
                </ion-buttons>
            </div>
            
        </ion-toolbar>
    </ion-header>

    <!-- Search -->

    <!-- List of projects -->
    <section>
        <div class="project-card" *ngFor="let project of projects">
            <span class="float-card-button" (click)="openProjectModal(project)">
                <ion-icon name="create-outline"></ion-icon>
            </span>
            <div class="image-container">
                <img [src]="project?.thumbnail ? project?.thumbnail : getBackground(6)" />
            </div>
            <div class="card-content">
                <ion-card-header>
                    <ion-card-title> {{project.name}} </ion-card-title>
                    <br />
                    <ion-card-subtitle><ion-icon name="person-outline"></ion-icon> &nbsp; {{ managedBy | translate}} {{project?.managedBy?.firstName}} {{project?.managedBy?.lastName}} </ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    <p> {{project.description}} </p>
                </ion-card-content>
                <div class="card-bottom-buttons">
                    <ion-button color="primary" fill="clear"> {{
                        'moreDetailsLabel' | translate }} &nbsp; <ion-icon
                            name="arrow-forward-outline"></ion-icon></ion-button>
                </div>
            </div>
        </div>
    </section>
</app-base>