<app-base>

    <ion-header>
        <ion-toolbar>
            <div class="header">
                <div class="title">
                    <span><ion-icon name="briefcase-outline"></ion-icon></span>
                    <h1>{{ 'featuretasks_management' | translate }}</h1>
                </div>
                <ion-buttons slot="end">
                    <ion-button fill="clear" (click)="reload()">
                        <ion-icon name="refresh-outline"></ion-icon> &nbsp; {{ 'reload' | translate }}
                    </ion-button>
    
                    &nbsp;
                    <ion-button fill="clear" (click)="openAddFeaturetaskModal()">
                        <ng-container>
                            <ion-icon name="person-add-outline"></ion-icon> &nbsp; {{ 'add_featuretask' | translate }}
                        </ng-container>
                    </ion-button>
                </ion-buttons>
            </div>
            
        </ion-toolbar>
    </ion-header>

    <!-- Search -->

    <!-- List of featuretasks -->
    <section>

        <div class="statuses">
            <div class="status" *ngFor="let status of statuses" [ngStyle]="{'width': getWidth(statuses.length) + '%'}">
                <div class="header">
                    <h4>{{status.name}}</h4>
                </div>
                <div class="tasks">

                </div>
            </div>
        </div>

        <div class="featuretask-card" *ngFor="let featuretask of featureTasks">
            <span class="float-card-button" (click)="openFeatureTaskModal(featuretask)">
                <ion-icon name="create-outline"></ion-icon>
            </span>
            <div class="card-content">
                <ion-card-header>
                    <ion-card-title> {{featuretask.name}} </ion-card-title>
                    <br />
                    <ion-card-subtitle><ion-icon name="person-outline"></ion-icon> &nbsp; {{ assignedTo | translate}}
                        {{featuretask?.assignedTo?.firstName}} {{featuretask?.assignedTo?.lastName}}</ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    <p> {{featuretask.description}} </p>
                </ion-card-content>
                <div class="card-bottom-buttons">
                    <ion-button color="primary" fill="clear"> {{
                        'moreDetailsLabel' | translate }} &nbsp; <ion-icon
                            name="arrow-forward-outline"></ion-icon></ion-button>
                </div>
            </div>
        </div>
    </section>
</app-base>