<app-base>

    <ion-header>
        <ion-toolbar>
            <div class="header">
                <div class="title">
                    <span><ion-icon name="briefcase-outline"></ion-icon></span>
                    <h1>{{ 'menu.feature-tasks' | translate }}</h1>
                </div>
                <ion-buttons slot="end">
                    <ion-button fill="clear" (click)="reload()">
                        <ion-icon name="refresh-outline"></ion-icon> &nbsp; {{ 'reload' | translate }}
                    </ion-button>

                    &nbsp;
                    <ion-button fill="clear" (click)="openAddFeaturetaskModal()">
                        <ng-container>
                            <ion-icon name="person-add-outline"></ion-icon> &nbsp; {{ 'add_featuretask' | translate }}
                        </ng-container>
                    </ion-button>
                </ion-buttons>
            </div>

        </ion-toolbar>
    </ion-header>

    <!-- Search -->

    <!-- List of featuretasks -->
    <section>

        <div class="statuses">
            <div class="status" *ngFor="let status of statuses" [ngStyle]="{'width': getWidth(statuses.length) + '%'}">
                <div class="header" [ngStyle]="{'background-color': status.color}">
                    <h4>{{status.name}}</h4>
                </div>
                <div class="tasks">
                    <div class="featuretask-card" *ngFor="let featuretask of featureTasks">
                        <div class="card-content" *ngIf="featuretask.status.id === status.id">
                            <span>
                                <div class="card-header" style="display: flex; justify-content: space-between;">
                                    <div (click)="openFeatureTaskModal(featuretask)">
                                        <ion-card-title> {{featuretask.name}} </ion-card-title>
                                        <ion-card-subtitle>
                                        <ion-icon name="person-outline"></ion-icon> 
                                            &nbsp; {{'assignedTo'| translate}} {{featuretask?.assignedTo?.firstName}} {{featuretask?.assignedTo?.lastName}}
                                        </ion-card-subtitle>
                                    </div>
                                    <ion-button color="primary" fill="clear">
                                        <ion-icon name="ellipsis-vertical-outline"></ion-icon>
                                    </ion-button>
                                </div>
                                <ion-card-content (click)="openFeatureTaskModal(featuretask)">
                                    <p> {{featuretask.description}} </p>
                                </ion-card-content>
                                <ion-badge [ngStyle]="{'padding': '3px 8px'}">
                                    <ion-icon name="briefcase-outline"></ion-icon> &nbsp;  {{featuretask.project.name}}
                                </ion-badge>
                                &nbsp; 
                                <ion-badge [ngStyle]="{'--background': featuretask.priority.color, 'padding': '3px 8px'}">
                                    {{featuretask.priority.name}}
                                </ion-badge>
                            </span>
                            <!-- <div class="card-bottom-buttons">
                                <ion-button color="primary" fill="clear">
                                    <ion-icon name="ellipsis-vertical-outline"></ion-icon>
                                </ion-button>
                                <ion-button color="primary" fill="clear">
                                    <ion-icon name="arrow-forward-outline"></ion-icon>
                                </ion-button>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</app-base>