<ion-content class="ion-padding">
  <ion-item lines="full">
    <ion-card-subtitle>
      <ion-card-title> 
        <ng-container *ngIf="featureTask">{{featureTask.name}}</ng-container>
        <ng-container *ngIf="bugTask">{{bugTask.name}}</ng-container>
      </ion-card-title>

      <ion-icon name="person-outline"></ion-icon>
      &nbsp; {{'assignedTo'| translate}}
      <div style="display: flex; align-items: center; margin: 3px 0;">
        <img *ngIf="featureTask" class="user-avatar" [src]="featureTask?.assignedTo?.thumbnail" alt="">
        <img *ngIf="bugTask" class="user-avatar" [src]="bugTask?.assignedTo?.thumbnail" alt="">
        <div *ngIf="!featureTask && !bugTask" class="user-avatar">
          <ion-icon name="person-outline"></ion-icon>
        </div>
        <ng-container *ngIf="featureTask">
          {{featureTask?.assignedTo?.firstName}}
          {{featureTask?.assignedTo?.lastName}}
        </ng-container>
        <ng-container *ngIf="bugTask">
          {{bugTask?.assignedTo?.firstName}}
          {{bugTask?.assignedTo?.lastName}}
        </ng-container>
      </div>
    </ion-card-subtitle>
  </ion-item>
  <ion-item lines="full">
    <ion-select [(ngModel)]="assignedTo" [label]="('assignedTo' | translate)" (ionChange)="changeAssignedTo($event)" interface="popover"
      label-placement="floating">
      <ion-select-option *ngFor="let teamMember of teamMembers" [value]="teamMember">
        {{ teamMember.firstName }} {{ teamMember.lastName }}
      </ion-select-option>
    </ion-select>
  </ion-item>
  
  <ion-item lines="full">
    <ion-select [(ngModel)]="status" [label]="('status' | translate)" (ionChange)="changeStatus($event)" interface="popover"
      label-placement="floating">
      <ion-select-option *ngFor="let status of statuses" [value]="status">
      {{ status.name.toUpperCase() | translate }}
      </ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item lines="full">
    <ion-select [(ngModel)]="priority" [label]="('priority' | translate)" interface="popover" (ionChange)="changePriority($event)"
      label-placement="floating">
      <ion-select-option *ngFor="let priority of priorities" [value]="priority">
        {{ priority.name.toUpperCase() | translate }}
      </ion-select-option>
    </ion-select>
  </ion-item>

</ion-content>